@use "../../scss/helpers/import" as *;

.loginContainer {
  @include centered(480px);
  padding-top: $standard-vertical-spacing;
  padding-bottom: $standard-vertical-spacing;
  height: 100%;
  min-height: 100vh;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  padding: 16px;
  background-color: $blue-600;
  border-radius: 16px;
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  svg {
    stroke: $white;
  }
}

.loginForm {
  background-color: $white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}

.loginTitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.loginSubtitle {
  margin-bottom: 12px;
  color: $gray-600
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.loginData {
  display: flex;
  flex-direction: column;
  gap: 8px;
  label {
    color: $gray-700;
    
  }
  input {
    padding: 16px 16px 16px 44px;
    border-radius: 10px;
    border: 1px solid $gray-300;
    width: 100%;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputIcon {
  position: absolute;
  left: 16px;
  color: $gray-300;
  font-size: 20px;
  pointer-events: none;
}

.loginButton {
  @extend %button-black;
}

.divider{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $gray-300;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

.orText {
  font-size: 14px;
  text-align: center;
  color: $gray-500;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socialButton {
  @extend %button-white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signupButton {
  color: $blue-600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  margin-top: 12px;
  &:hover {
    text-decoration: underline;
  }
}