$max-width: 1240px;
$desktop-width: 1440px;
$standard-vertical-spacing: 60px;

$breakpoints: (
  xxl: (min: 1101px ),
  xl: ( min: 921px, max: 1100px ),
  lg: ( min:769px, max:920px ),
  md: ( min: 481px, max:768px ),
  sm: ( min: 361px, max:480px ),
  xs: ( max:360px )
); // min widths are only used when 'true' is passed as second param to the responsive() mixin
          
//colors
$lt-black: #737373;
$black: #000000;
$white: #ffffff;

$gray-50: #fbf9fa;
$gray-100: #f6f3f4;
$gray-200: #ebe6e7;
$gray-300: #d1d5dc;
$gray-400: #9ca3af;
$gray-500: #6a7282;
$gray-600: #4a5565;
$gray-700: #364153;
$gray-900: #101828;

$indigo-100: #e0e7ff;
$purple-100: #f3e8ff;
$purple-600: #9810fa;

$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-200: #bedbff;
$blue-300: #7ec0ff;
$blue-400: #3b82f6;
$blue-500: #2b7fff;
$blue-600: #155dfc;
$blue-700: #364153;